:host::ng-deep {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
  width: 250px;
  position: absolute;
  top: 30%;
  left: calc(50% - 125px);

  & h3 {
    font-size: 16px;
    color: white;
  }
}

@keyframes swordLaser {
  from {
    width: 0;
  }
}