img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  & .item {
    cursor: pointer;
    display: flex;
    align-items: center;

    width: 50px;
    height: 50px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 25px;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
    transition: all .3s ease-out;

    &:hover {
      width: 180px;
      justify-content: space-evenly;
    }

    &.linkedin {
      color: #0077b5;

      &:hover {
        background: #0077b5;
        color: #ffffff;
      }
    }

    &.github {
      color: #000000;

      &:hover {
        background: #000000;
        color: #ffffff;
      }
    }


  }
}

.mandalorian {
  position: relative;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #000;

  &:before {
    content: 'THE';
    position: absolute;
    top: -9px;
    font-size: 10px;
    z-index: 10;
    left: 42%;
    background: white;
  }
}

.play {
  position: relative;
  background: #444;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    letter-spacing: 0.25em;
    background: #ff1867;
    color: #ff1867;
    box-shadow: 0 0 35px #ff1867;

    & > i:before {
      width: 20px;
      left: 20%;
    }

    & > i:after {
      width: 20px;
      left: 80%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  & > i {
    position: absolute;
    inset: 0;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: -2.5px;
      left: 80%;
      width: 10px;
      height: 5px;
      border: 2px solid #ff1867;
      background: #27282c;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -2.5px;
      left: 20%;
      width: 10px;
      height: 5px;
      border: 2px solid #ff1867;
      background: #27282c;
      transform: translateX(-50%);
      transition: 0.5s;
    }
  }

}