@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Press Start 2P', cursive;
}

.score-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.score-text {
  font-size: 1.5em;
  color: white;
  padding: 1em;
  text-shadow: 5px 5px black;
}

